body {
  font-family: system-ui;
  margin: 0;
  padding: 0;
  min-width: min-content;
}

.countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.countries-card {
  position: relative;
  border-radius: 10px;
  margin: 10px;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: white;
  box-shadow: 5px 5px 15px rgb(94, 93, 93);
  transition: all 0.3s ease;

  img {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    object-fit: cover;
    box-shadow: 5px 5px 15px rgb(94, 93, 93);
    margin-top: 10px;
    transition: all 0.3s;
  }

  button {
    position: absolute;
    right: 5px;
    bottom: 5px;
    border: none;
    color: rgb(157, 157, 157);
    cursor: pointer;
    font-size: 30px;
    background: transparent;
    transition: color 0.3s;
  }

  button:hover {
    color: #f9d176;
  }
}

.countries-card-button-active {
  /* color: #f9d176; */
  /* transition: color 0.3s; */
}

/* .countries-card-button-active:hover {
  color: #70d9ae;
} */

.countries-card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
  height: 42px;
  display: flex;
  align-items: center;
  transition: text-shadow 0.3s;

  h3 {
    margin: 0;
  }
}

.countries-card:hover {
  box-shadow: 5px 5px 15px #f9d176;
  cursor: pointer;
  color: #f9d176;
  background: #c2c2c2;

  img {
    box-shadow: 5px 5px 15px #f9d176;
  }

  .countries-card-title {
    text-shadow: 3px 3px 2px rgb(0, 0, 0);
  }
}

.country {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 18px;

  table,
  td,
  tr {
    border: solid rgb(255, 255, 255) 1px;
    border-collapse: collapse;
  }

  tr {
    background: #dadada;

    td:nth-child(odd) {
      font-weight: bolder;
    }

    td:nth-child(even) {
      font-style: italic;
    }
  }

  tr:nth-child(odd) {
    background: #f0f0f0;
  }

  td {
    padding: 10px;
  }

  table {
    width: 500px;
    margin: 10px 0;
  }

  img {
    border-radius: 15px;
    max-width: 300px;
    max-height: 250px;
  }
}

.country-table-td-img {
  display: flex;
  justify-content: center;
}

.nav {
  color: #70d9ae;
  padding: 0 8px;
  transition: all 0.3s;
  font-size: 14px;
  /* font-weight: 600; */
}

.nav:hover {
  background: #f9d176;
  color: black;
  cursor: pointer;
}

.nav:active {
  background: #70d9ae;
}

.footer {
  text-align: center;
  background: rgb(231, 231, 231);
}

.filters {
  display: flex;
  justify-content: center;
  margin: 10px;
}
